/* ----------------- General ------------------- */
:root {
  --clr-teal: #00c1b5;
  --clr-yellow: #ffbe00;
  --clr-red: #e30512;
  --clr-orange: #ff651a;
  --clr-blue: #1d3fbb;
  --clr-dark: #251d20;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: var(--clr-dark);
}

.app {
  transition: background-color 700ms ease 0s;
  margin: 0;
}

.teal {
  background-color: var(--clr-teal);
}
.orange {
  background-color: var(--clr-orange);
}
.yellow {
  background-color: var(--clr-yellow);
}
.blue {
  background-color: var(--clr-blue);
}
.red {
  background-color: var(--clr-red);
}

@media (min-width: 992px) {
  html {
    scroll-snap-type: y mandatory;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* ----------------- Typography ------------------- */
p {
  font-weight: bold;
}

a {
  color: var(--clr-dark);
}

a:hover {
  color: var(--clr-dark);
}

small {
  font-size: 12px;
}

/* ----------------- Header ------------------- */

header {
  position: absolute;
  left: 16px;
  top: 16px;
}

header > img {
  width: 160px;
  border: none;
  background-color: transparent;
  cursor: default;
}

.logo-mobile {
  display: inline;
}

.logo-wide {
  display: none;
}

@media (min-width: 767px) {
  header > img {
    width: 260px;
    margin-bottom: 6px;
  }
}

@media (min-width: 992px) {
  header {
    position: fixed;
  }

  .logo-mobile {
    display: none;
  }

  .logo-wide {
    display: inline;
  }
}

/* ----------------- Main ------------------- */
main {
  text-align: center;
}

section {
  width: 100%;
  height: 100vh;
  min-height: 635px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.section-small {
  font-size: 15px;
}

.section-small a {
  text-decoration: none;
  color: #fff;
}

.issue-img {
  width: 80%;
  max-width: 420px;
  height: auto;
}

@media (min-width: 992px) {
  section {
    scroll-snap-align: start;
    padding-top: 0;
  }

  .issue-img {
    max-width: 420px;
  }
}

/* ----------------- Footer ------------------- */
footer {
  text-align: center;
  padding: 0 1rem 3rem 1rem;
}

.description > p:first-child {
  margin: 0;
}

.description a:hover {
  text-decoration: none;
}

.privacy-policy {
  margin: 1.5rem 0 3rem 0;
}

.contact {
  margin: 0;
}

.contact > a {
  text-decoration: none;
}

.contact > a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  footer {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem 1rem 1rem;
  }

  .description {
    max-width: 300px;
  }

  .privacy-policy {
    margin: 1.5rem 0 0 0;
  }
}

@media (min-width: 992px) {
  .description,
  .contact {
    position: fixed;
  }

  .description {
    left: 16px;
    bottom: 16px;
  }

  .contact {
    right: 16px;
    top: 16px;
  }
}

/* ----------------- Menu ------------------- */

.menu {
  position: relative;
  display: none;
  list-style: none;
}

.menulink {
  text-decoration: none;
}

.menulink:hover {
  text-decoration: underline;
}

.menu-mobile {
  display: block;
  padding: 6px 6px 6px 1rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.menu-wide {
  display: none;
}

@media (min-width: 992px) {
  .menu {
    position: fixed;
  }

  .menu {
    display: block;
    right: 16px;
    bottom: 0;
  }

  .menu-wide {
    display: block;
  }

  .menu-mobile {
    display: none;
  }
}
